<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  
   <!--<add name="connectionId" connectionString="Data Source=localhost;Database=egemaifiltros;User ID=root;Password=090809;" providerName="MySql.Data.MySqlClient" />-->
  <add name="connectionId" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-FQ62BF9;Initial Catalog=LeilaoOnline;Integrated Security=True" />
  
</connectionStrings>